

/* 核心 CSS：禁用全局滚动 */
html,
body {
  height: 100%;
  overflow: hidden;
  /* 禁用整体滚动 */
  -webkit-overflow-scrolling: touch;
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  color: $base_color;
    /* 内容区滚动不触发外层任何行为 */
    overscroll-behavior: contain;
    touch-action: none !important;
      /* 屏蔽弹性滚动（overscroll），杜绝外层滚动 */
      overscroll-behavior: none !important;
      -webkit-overflow-scrolling: auto !important;
      /* 关闭Safari弹性滚动，避免偏移 */
}
* {
  user-select: none;
}

#app {
  background: $global_bg_color;
  height: 100%;
  display: flex;
  flex-direction: column;
  .page_view {
    flex: 1;
    overflow-y: auto;
  }
}

* {
  box-sizing: border-box;
}

.van-tabbar {
  user-select: none;
  background-color: $footer_bg_color;
}
// 去掉tab-bar/nav-bar多余的横线
.van-hairline--top-bottom::after {
  border: none;
}
.van-hairline--bottom:after {
  border: none;
}
.van-nav-bar__left,
.van-nav-bar__right {
  color: #333;
  i {
    font-size: 20px;
  }
}
.van-nav-bar__title {
  font-weight: 500;
}
.van-nav-bar__right {
  padding: 0 24px 0 10px;
}

/* 自定义滚动条样式 */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #d1d2d3;
  border-radius: 2px;
}
::-webkit-scrollbar-track {
  background-color: $base_bg_color;
}


