// styles/index.scss
@import './main';
// styles/main.scss
.padding_20 {
  padding: 20px;
}

.flex {
  display: flex;
}
.align_items_center {
  display: flex;
  align-items: center;
}
.justify_content_center {
  display: flex;
  justify-content: center;
}
:root {
  --primary-color500: #ffea66;

  --red500: #dc3545;
  --red200: #f8d7da;
  --green500: #2b5229;
  --green200: #e1fae1;

  --border-radius: .25rem;
}