// styles/main.scss
// @use 引入（路径 + 命名空间，推荐）
@use './mixins/text-ellipsis' as ellipsis;

// 调用时需加命名空间
.single-line-demo {
  @include ellipsis.text-ellipsis; // 命名空间 + Mixin 名
}

.multi-line-demo {
  @include ellipsis.text-ellipsis($lines: 2); // 传参不变
}


:root {
  --primary-color500: #ffea66;

  --red500: #dc3545;
  --red200: #f8d7da;
  --green500: #2b5229;
  --green200: #e1fae1;

  --border-radius: .25rem;
}

:root:root {
  --van-button-primary-background: #36c275;
  --van-nav-bar-icon-color: $default_text_color;
  --van-nav-bar-title-text-color: $default_text_color;
  --van-button-primary-border-color: #36c275;
  --van-tabbar-item-active-color: #36c275;

  // 自定义van-tabbar高度
  --van-tabbar-height: 64px;
  --van-tabbar-item-icon-size: 26px;
  --van-tabbar-item-icon-margin-bottom: 6px;
  --van-tabbar-item-font-size: 14px;
  --van-tabbar-item-text-color: #333;
  --van-nav-bar-background: $base_bg_color;
  --van-tabbar-background: $base_bg_color;
  --van-tabbar-item-active-background: $base_bg_color;
  

  // 自定义van-nav-bar高度  
  --van-nav-bar-height: 44px;
  --van-nav-bar-arrow-size: 20px;
  --van-nav-bar-title-font-size: 16px;
  // --van-font-size-md: 20px;
}