


// 定义全局变量
$global_bg_color: #fff;
$base_bg_color: #f0f0f0;
$footer_bg_color: #f8f8f8;

$theme_green: #95EC69;

$default_text_color: #555;

$light_gray_color: #e3e3e3;


// nav bar 和main中保持一致
$nav_bar_height: 44px;
// tab bar 和main中保持一致
$tabbar_height: 64px;
// footer input
$footer_input_pad_h: 8px;
$footer_input_h: 36px;
$footer_input_real_h: 52px;

// 聊天
$base_color: #444;
$chat_msg_color: #444;
$chat_name_color: #333;
$chat_pop_color: #95EC69;
$chat_sys_msg_color: #999; 
$msg_notice_color: #ed3b31;